<nav class="navbar navbar-dark default-color">
    <form class="form-inline">
        <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
        <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
    </form>
</nav>

<br>

<!--Navbar-->
<nav class="navbar navbar-dark default-color">
    <form class="form-inline my-2 my-lg-0 ml-auto">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
    </form>
</nav>
<!--/.Navbar-->