body {
    color: black;
    font-family: 'Cambay'
}


/* Naviagtion panel */

.nav-side {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1050;
    top: 0;
    right: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}

.nav-side a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Questrial';
}

.nav-side h4 {
    color: rgb(7, 209, 158);
    padding: 0px 0px 0px 20px;
}

.nav-side a:hover {
    color: rgb(7, 209, 158);
}

.nav-side .close-nav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer a {
    padding: 1px;
}

.footer p {
    color: #818181;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.social-buttons {
    display: flex;
    justify-content: center;
}

.social-buttons a:hover {
    color: rgb(7, 209, 158);
}

@media screen and (max-height: 450px) {
    .nav-side {
        padding-top: 15px;
    }
    .nav-side a {
        font-size: 18px;
    }
}

#navMain {
    font-family: 'Questrial';
    font-size: 20px;
    text-transform: uppercase;
    background: #222;
}

#navMain .navbar-toggler {
    font-size: 16px;
    padding: 11px;
    color: rgba(16, 230, 184, 0.973);
}

#navMain a {
    color: rgba(16, 230, 184, 0.973);
    text-decoration: none;
}

#navMain .navbar-nav .nav-item:active,
#navMain .navbar-nav .nav-item:focus {
    outline: none;
    background-color: rgb(240, 120, 120);
}

@media (min-width: 992px) {
    #navMain {
        padding-top: 15px;
        padding-bottom: 15px;
        -webkit-transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s;
        -moz-transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s;
        transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s;
        letter-spacing: 1px;
        background: #222;
    }
    #navMain .nav-link.active {
        outline: none;
        background-color: rgba(26, 25, 24, 0.699);
    }
    #navMain .nav-link.active:hover {
        color: white;
        background-color: rgba(230, 210, 97, 0.637)
    }
    #navMain.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
        background: #222;
        border-bottom: 1px solid red;
    }
    #navMain.navbar-shrink a {
        color: rgba(16, 230, 184, 0.973);
    }
}


/* Search section */

.search-section {
    padding-top: 6rem;
}

.search-form form {
    display: flex;
    justify-content: center;
}

.search-input {
    width: 15rem;
    border: 0;
    border-radius: 0;
    background-color: #40404121;
    color: white;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.search-input:hover {
    border-bottom: 1px solid black;
}

.search-input:focus {
    transform: scaleX(1.1);
    border: 0 transparent;
    border-bottom: 1px black;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


/* Displaying images */

.img-holder img {
    width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.img-holder {
    padding: 0;
    overflow: hidden;
    box-shadow: 2px 4px 12px 2px #dcdcdc;
}

.img-holder:hover img {
    /* cursor: pointer; */
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}

.image-details {
    position: absolute;
    height: inherit;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding-top: 18%;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.image-details,
.image-details a {
    color: transparent;
    border: rgba(0, 0, 0, 0);
}

.image-details .btn-outline-danger:hover {
    background: white;
}

.image-details:hover {
    /* cursor: pointer; */
    color: white;
    background-color: rgba(0, 0, 0, 0.507);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.image-details:hover a {
    color: white;
}

.image-details a:hover {
    cursor: pointer;
}

.image-details a {
    font-size: 20px;
}


/* @media (max-width: 945px){
    .img-holder{
        width: 40%;
    }
}
@media (max-width: 640px){
    .img-holder{
        width: 60%;
        height: 15%
    }
}
@media (max-width: 480px){
    .img-holder{
        width: 80%;
        height: 15%
    }
} */

.btn-outline-danger:hover i {
    color: rgb(141, 11, 11);
}


/* picture modal */

.modal-content {
    color: white;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.925);
    padding: 0;
}

.modal-header {
    border-bottom: 1px solid #2d2e2f;
}

.modal-header i {
    color: white;
}

.modal-body {
    float: left;
    padding: 0;
}

.modal-image {
    max-height: 629.73px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.modal-text {
    padding: 2rem 5rem;
    color: black;
}

.modal-image img,
.single-image img,
.category-images img {
    width: 100%;
}

.modal-image:hover {
    opacity: 0.75;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.single-image {
    padding: 0;
}

.category-images {
    padding: 1rem 0rem;
}

.category-text,
.error-text {
    display: flex;
    align-items: center;
}

.single-text {
    padding: 1rem;
}

.display-image {
    box-shadow: 2px 4px 12px 2px #dcdcdc;
    margin-bottom: 2rem;
}

.img-location {
    height: 80%;
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 70%;
        height: 90%;
    }
}


/* tooltip style */

.tool-tip {
    position: relative;
    display: inline-block;
}

.tool-tip .tip-text {
    visibility: hidden;
    width: 90px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 100%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tool-tip .tip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0) transparent transparent transparent;
}

.tool-tip:hover .tip-text {
    visibility: visible;
    opacity: 1;
}